

/*******************************/
/* HEADER */
/*******************************/


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fdf2e9;

    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo{
    height: 2.2rem;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 0.6rem;
    transition: all 0.3s;
}


.main-nav-link:hover,
.main-nav-link:active{
    color: #cf711f;
}


.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    color: white;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    background-color: #cf711f;
}



/*******************************/
/* HERO */
/*******************************/


.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}


.delivered-meals {
    display: flex;

    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 0.3rem solid white;
}

.delivered-imgs img:last-child{
    margin-right: 0;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    
}

.delivered-text span{
    color: #cf711f;
    font-weight: 700;
    
}

/*******************************/
/* SECTION HOW IT WORKS*/
/*******************************/

.section-how.container{
    padding: 9.6rem 0;
}


.step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10
}
.step-img{
    width: 35%;;
}


.step-img-box::before,
.step-img-box::after{
    content:"";
    display: block;
    border-radius: 50%;
    position: absolute;
}

.step-img-box::before{
    width: 60%;
    /* 60% of parent's width */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-img-box::after{
    width: 50%;
    /* 60% of parent's width */
    padding-bottom: 50%;
    background-color: #fae5d3;
    z-index: -1;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-text-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}




